html, body {
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    font-family: lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/Imagens/blackground1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}



header {
    background-color: #012940;
    color: beige;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /*centraliza os itens verticalmente*/
    height: 80px;
    padding: 0;
}

.logo {
    padding-left: 0px;
}

#logo-principal {
    width: auto;
    height: 100%;
    max-height: 80px;
    /* especificações de tamanho da logo principal do site */
}

#icone-perfil {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

nav {
    padding-right: 1000px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center; 
    /* definind a margem e a posição dos elementos de colunas da lista no nav e centralizando todos os itens */
}

nav ul li {
    position: relative;
}

nav li {
    margin-left: 20px;
    position: relative;
    /* definindo a margem e a posição dos elementos de linhas da lista no nav */
}

nav ul li a { 
    color: white;
    text-decoration: none;
    /* aqui estamos retirando a cor azul padrão das tags de link e o sublinhado */
}

nav ul li .menu-suspenso {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: rgb(0, 0, 0);
    list-style: none;
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    z-index: 1000; /*Garante que o menu suspenso fique acima de outros conteudos*/
    white-space: nowrap; /*impede a quebra de linha*/
    box-sizing: border-box; /*garante que o padding e o border sejam incluidos na largura e altura */
    min-width: 135px;
    max-width: 300px;
    
}

nav ul li:hover .menu-suspenso {
    display: block;
}

nav ul li .menu-suspenso li a {
    color: black;
    text-decoration: none;
}

nav ul li .menu-suspenso li a:hover {
    text-decoration: underline;
    
}

nav ul li .menu-suspenso li {
    padding: 5px 0;
}

/*estilos do menu*/
#icone-ph {
    width: 40px;
    height: auto;
}

main {
    overflow: auto;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* border: #28ce22; */
    /* border-style:groove; */
    
}

.sensor-ph-dados, .sensor-temp-dados {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.sensor-ph, .sensor-temperatura {
    background-color: rgba( 255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 45px;
    text-align: center;
    width: 45%;
}

.sensor-ph img {
    margin-left: 10px;
}

.sensor-ph h2 img {
    vertical-align: middle;
}

.sensor-ph h2, .sensor-temperatura h3 {
    margin-top: 0;
}
